@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-ember: #f5e26c;
  --color-twilight: #801831;
  --color-inferno: #c71a2d;
  --color-black: #000000;
}

body {
  font-family: "Google Sans", var(--font-montserrat), sans-serif;
}
